// .about-container {
//   display: flex;
//   flex-direction: row;
// }
.box-img-header {
  border-top: solid black 2px;
  border-bottom: solid black 2px;
}

.header-texte-box {
  margin: 70px 0;
}

.header-texte-box p {
  margin: 30px 0;
}

@media (min-width: 800px) {
  .about-mobile {
    display: none;
  }
}

@media (max-width: 800px) {
  .about-desktop {
    display: none;
  }
}
