.custom-font {
  font-family: "PPEditoralNew";
  src: url("../fonts/PPEditorialNew-Italic.woff") format("woff"),
    url("../fonts/PPEditorialNew-Italic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
}
