.footer-card {
  background-color: #ff96c6;
}

.logo-leamo-footer {
  width: 80px;
}

a {
  text-decoration: none;
}

.logo-insta {
  width: 28px;
}

.footer-box {
  border-bottom: solid black 2px;
}

.footer-container {
  display: flex;
  flex-direction: column;
}

.footer-link {
  margin: 25px 0px;
}

.footer-element {
  margin-top: 7px;
}

a {
  font-size: 14px;
}

.logo-alterfood-footer {
  width: 120px;
}

.footer-copyright-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-copyright-container a {
  margin-right: 20px;
}
.footer-copyright {
  margin: 20px 0px;
}
