.magasin-card {
  border-bottom: solid black 2px;
}

@media (min-width: 800px) {
  .magasin-card img {
    width: 721px;
  }
}

.magasin-title {
  margin: 30px 0px 40px 0px;
}

.bouton-magasin {
  margin: 0px 0px 80px 0px;
}

.magasin-card img {
  width: calc(100% + 24px);
  max-inline-size: none;
  margin-left: -12px;
}

@media (min-width: 800px) {
  .mixologie-card img {
    width: 100%;
  }
}
