.produits {
  border: solid black 2px;
  width: 157px;
}

@media (min-width: 800px) {
  .produits {
    width: 330.07;
  }
}

// .produits-container {
//   display: flex;
//   flex-direction: row;
//   flex-wrap: wrap;
//   justify-content: space-between ;
// }
