.valeurs {
  border-top: solid black 2px;
  border-bottom: solid black 2px;
}

.valeurs-background {
  background: #ffbf5a;
}

.valeurs-title {
  margin: 25px 0px;
}

.valeurs-border {
  border-top: solid black 2px;
  border-bottom: solid black 2px;
}
