/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  color: #000000;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// base rules
// ==================================== */
h2 {
  font-size: 33.5px;
}

@media (min-width: 800px) {
  h2 {
    font-size: 64px;
  }
}

p {
  font-size: 14px;
}

@media (min-width: 800px) {
  p {
    font-size: 24px;
  }
}

.img-all-bouteilles {
  border-bottom: solid black 2px;
}
